# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
db/.DS_Store
lib/.DS_Store

# Ignore Vim temp file
*.swp
*.swo
tags
.vim-bookmarks

erd.pdf
/public
/config/secrets.yml
/config/database.yml
/config/application.yml
