<section class="hero-slider" data-loop="true" data-autoplay="true" data-interval="7000">
  <div class="inner">
    <div class="slide" style="background-image: url('/img/hero-slider/01.jpg');">
      <div class="container">
        <div class="absolute from-top" style="top: 13%;">
          <span class="h1 hidden-xs">New SPA<br>Cosmetics</span>
        </div>
        <div class="absolute text-right from-bottom" style="bottom: 13%; right: 15px;">
          <span class="h2"><span class="text-thin">Only</span><br><strong>$127.99</strong></span><br>
          <a href="#" class="btn btn-primary btn-with-icon-right waves-effect waves-light space-top-none">
            View Offer
            <i class="material-icons arrow_forward"></i>
          </a>
        </div>
      </div>
    </div><!-- .slide -->
    <div class="slide" style="background-image: url('/img/hero-slider/02.jpg');">
      <div class="container text-center padding-top-3x">
        <span class="h1 from-bottom">Stylish Chair</span><br>
        <span class="h2 from-bottom"><span class="text-thin">Special offer: </span> <strong>-25%</strong></span><br>
        <a href="#" class="btn btn-primary btn-with-icon-right waves-effect waves-light scale-up">
          View Offer
          <i class="material-icons arrow_forward"></i>
        </a>
      </div>
    </div><!-- .slide -->
    <div class="slide" style="background-image: url('/img/hero-slider/03.jpg');">
      <div class="container padding-top-3x">
        <span class="h1 space-top from-left">Dior Sunglasses</span><br>
        <span class="h2 from-right"><span class="text-thin">Only <span class="hidden-xs">today</span></span> <strong>-30%</strong></span><br>
        <a href="#" class="btn btn-primary btn-with-icon-right waves-effect waves-light scale-up">
          View Offer
          <i class="material-icons arrow_forward"></i>
        </a>
      </div>
    </div><!-- .slide -->
  </div><!-- .inner -->
</section><!-- .hero-slider -->
