<div class="social-bar">
  <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
    <i class="socicon-facebook"></i>
  </a>
  <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
    <i class="socicon-twitter"></i>
  </a>
  <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
    <i class="socicon-instagram"></i>
  </a>
</div>
