<div class="product-meta">
  <span class="product-rating text-warning">
    <i class="material-icons star"></i>
    <i class="material-icons star"></i>
    <i class="material-icons star"></i>
    <i class="material-icons star"></i>
    <i class="material-icons star_border"></i>
  </span>
</div>
