<footer class="footer">
  <div class="column">
    <p class="text-sm">You can't buy anything if you try.</p>
    <p class="copyright">&copy; 2016. Made with <i class="text-danger material-icons favorite"></i> by kakas & mosochin</p>
  </div>
  <div class="column">
    <h3 class="widget-title">
      Payment Methods
    </h3>
    <div class="cards">
      <%= image_tag "pay2go_logo.png", alt: "pay2go_logo" %>
    </div>
  </div>
</footer>
