<div class="cart-btn">
  <%= link_to seller_orders_path do %>
    <i>
      <span class="material-icons loyalty"></span>
      <% if current_shop.pending_orders_size > 0 %>
        <span class="count"><%= current_shop.pending_orders_size %></span>
      <% end %>
    </i>
  <% end %>
</div>
