<header class="navbar">
  <div class="navbar-header">
    <a href="index.html" class="site-logo visible-desktop">商店管理面板</a>
  </div>

  <div class="mobile-menu-wrapper">
    <div class="toolbar">
      <%= link_to icon("power_settings_new"), destroy_user_session_path, method: :delete %>
      <%= link_to icon("list"), seller_products_path %>
      <div class="cart-btn">
        <a href="#">
          <i>
            <span class="material-icons loyalty"></span>
            <span class="count">2</span>
          </i>
        </a>
      </div>

    </div>

    <nav class="main-navigation">
      <ul class="menu">
        <li>
          <%= link_to seller_products_path do %>
            <%= icon("list") %> Products
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
